*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary: #1f3e72;
    --secondary: rgba(255, 255, 255, .78);
    --black: #131110;
    --blue-gradient: linear-gradient(97.05deg, #4066ff 3.76%, #2949c6 100%);
    --orange-gradient: linear-gradient(270deg, #ffb978 0%, #ff922d 100%);
    --blue: #4066ff;
    --lightBlue: #eeeeff;
    --shadow: 0px 23px 21px -8px rgba(136, 160, 255, .25);
    --secondary-text-color: #8c8b8b;
    --orange-color: orange;
}

html, body{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    background-color: var(--black);
}

nav{
    padding: 16px 24px;
    width: 100%;
    z-index: 99;
    transition: .5s;
}

nav ul{
    list-style: none;
    gap: 50px;
}

nav img{
    width: 60%;
}

nav li:last-child{
    background-color: var(--blue);
    padding: 6px 1.2rem;
    border-radius: 3px;
    color: #fff;
    /* box-shadow: var(--shadow); */
}

nav a{
    color: var(--secondary);
    font-size: 15px;
}

main {
    padding: 2rem 6rem;
}

.main-text{
    position: relative;
    width: 44%;
}

main h1{
    color: var(--lightBlue);
    font-size: 58px;
    font-weight: 600;
    position: relative;
    z-index: 2;
}

.main-paragraph{
    color: var(--secondary-text-color);
    font-weight: 300;
    margin: 2.5rem 0;
}

.bluryWhite{
    position: absolute;
    padding: 7rem;
    background-color: #e4e4e4;
    top: 70px;
    left: 50px;
    border-radius: 10px;
    filter: blur(100px);
}

.orangeCirle{
    position: absolute;
    padding: 1.8rem;
    border-radius: 50px;
    background: var(--orange-gradient);
    z-index: 1;
    right: 70px;
}

.search-input{
    background-color: #fff;
    justify-content: flex-start !important;
    padding: 12px 1rem;
    gap: 10px;
    border-radius: 3px;
    border: 4px solid #dcdcdccf;
}

.search-input i{
    font-size: 20px;
    color: var(--blue);
}

.search-input input{
    all: unset;
    width: 90%;
    padding: 0px 10px;
    height: 40px;
    border: 1px solid #ededed;
}

.search-input button{
    all: unset;
    cursor: pointer;
    padding: 8px 16px;
    background: var(--blue-gradient);
    color: var(--lightBlue);
    border-radius: 4px;
}

.image-container{
    width: 30rem;
    height: 35rem;
    border: 8px solid rgba(255, 255, 255, .12);
    border-radius: 15rem 15rem 0 0;
    overflow: hidden;
    cursor: pointer;
}

.image-container img{
    transition: .5s;
}

.image-container img:hover{
    transform: scale(1.1);
    transition: .5s;
}

main img{
    width: 100%;
    height: 100%;
}

.numbers{
    margin-top: 3.5rem;
}

.numbers div p:nth-of-type(1){
    font-size: 30px;
}

.numbers div p:nth-of-type(1) span:nth-of-type(1){
    color: #fff;
}

.numbers div p:nth-of-type(2){
    color: var(--secondary);
}

.numbers div p:nth-of-type(1) span:nth-of-type(2){
    color: var(--orange-color);
}

.numbers div {
    text-align: center;
}

.numbers div p:last-child{
    color: var(--secondary-text-color);
}

.clientsArea{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    justify-items: center;
    margin: 2rem 0;
}

.clientsArea img{
    width: 50%;
    margin-bottom: 0 !important;
}

.clientsArea img:nth-child(2){
    width: 47%;
}

.clientsArea img:first-child{
    width: 40%;
}

#bestChoices{
    padding: 3rem;
}

#bestChoices .header{
    margin-bottom: 1.5rem;
}

#bestChoices .header h4{
    color: var(--orange-color);
    font-size: 25px;
    font-weight: 600;
}

#bestChoices h1, footer h1{
    color: var(--primary);
    font-size: 32px;
}

.residenceBox img{
    width: 90%;
}

.residenceBox h4{
    font-size: 18px;
    margin-top: 10px;
}

.residenceBox{
    padding: 1rem;
    cursor: pointer;
}

.residenceBox:hover{
    border-radius: 10px;
    transform: scale(1.05);
    transition: .5s;
    box-shadow: var(--shadow);
    background: linear-gradient(rgba(0, 217, 255, 0), #005eff18);
}

.residenceBoxes h4 span{
    color: var(--orange-color);
}

.residenceBoxes h4{
    color: var(--secondary-text-color);
}

.residenceBoxes h3{
    margin: 5px 0;
    color: var(--primary);
    font-size: 1.3rem;
}

.residenceBox p, footer p{
    color: var(--secondary-text-color);
    font-size: .8rem;
}

#values, #contact-section{
    /* background: linear-gradient(rgba(0, 217, 255, 0), #005eff51); */
    padding: 3rem;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

#values .image-container, #contact-section .image-container{
    border: 8px solid #dce9ff;
}

#values img{
    width: 110%;
}

.valueDetails{
    width: 50%;
}

.valueDetails .header h4, .contactDetails .header h4{
    color: var(--orange-color);
    font-size: 24px;
    font-weight: 600;
}

.valueDetails .header h1, .contactDetails .header h1{
    color: var(--primary);
    font-size: 34px;
    margin: 7px 0;
}

.valueDetails .header p, .contactDetails .header p{
    font-size: .9rem;
    color: var(--secondary-text-color);
    margin-bottom: 3px;
}

.faqs{
    margin-top: 3rem;
}

.faq{
    margin-bottom: 1.5rem;
    border: 1px solid #ededed;
    padding: 16px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* transition: height .5s; */
}

.faqHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    cursor: pointer;
    /* border: 1px solid #ededed; */
    /* margin-bottom: 10px; */
}

.faqHeader h4{
    color: var(--primary);
    font-size: 16px;
}

.faq p{
    font-size: .9rem;
    color: var(--secondary-text-color);
    display: none;
}

.faq.show p{
    display: block;
}

.faq.shadow{
    box-shadow: var(--shadow);
}

.faq i{
    font-size: 17px;
    color: var(--blue);
    padding: 8px 10px;
    border-radius: 5px;
    background-color: var(--lightBlue);
}

.contacts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 3rem;
}

.contactDetails{
    width: 45%;
}

.contact{
    border: 1px solid #ededed;
    padding: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    transition: all 0.3s ease-in 0s;
}

.contactHeader{
    display: flex;
    align-items: center;
    gap: 20px;
}

.contactHeader i{
    font-size: 22px;
    background-color: var(--lightBlue);
    color: var(--blue);
    padding: 8px 10px;
    border-radius: 5px;
}

.contact h4{
    color: var(--primary);
    font-size: 1.1rem;
}

.contact p{
    color: var(--secondary-text-color);
    font-size: 15px;
}

.contact button{
    all: unset;
    background-color: var(--lightBlue);
    text-align: center;
    margin-top: 1rem;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    color: var(--blue);
    transition: all 0.3s ease-in 0s;
}

.contact button:hover{
    background: var(--blue-gradient);
    color: #fff;
    cursor: pointer;
    transform: scale(0.8);
    transition: all 0.3s ease-in 0s;
}

.contact:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in 0s;
    box-shadow: var(--shadow);
}

#contact-section img{
    width: 100%;
    height: 100vh;
}

#getStarted{
    text-align: center;
    background-color: var(--blue);
    padding: 2rem 0;
    margin: 3rem;
    border-radius: 10px;
    border: 6px solid #5d77d6;
}

#getStarted h1{
    color: #fff;
    font-size: 32px;
    font-weight: 600;
}

#getStarted p{
    margin: 0;
    padding: 0;
}

#getStarted p{
    color: #fff;
}

#getStarted p:nth-of-type(1){
    margin: 30px 0 0;
}

#getStarted p:nth-of-type(2){
    margin: 0 0 30px;
}

#getStarted button{
    all: unset;
    background-color: #5a73d7;
    padding: .5rem 1rem;
    border: 2px solid #fff;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    background-color: #000;
    margin-top: 6rem;
}

.form {
    width: 25rem;
    display: flex;
}

.form input{
    all: unset;
    width: 100%;
    background-color: #fff;
    padding: 7px 12px;
    border-radius: 5px 0 0 5px;
}

.form button{
    all: unset;
    padding: 0 10px;
    color: #fff;
    border-radius: 0 5px 5px 0;
    background: var(--blue-gradient);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 13px;
}

.form input::placeholder{
    font-size: 12px;
}

.waitlist p{
    font-size: 1rem;
    margin: 0 0 5px;
}

footer ul{
    list-style: none;
    gap: 20px;
}

footer .links{
    text-align: end;
}

footer ul li a{
    color: var(--secondary-text-color);
    font-size: 12px;
}

.backtotop{
    background: var(--blue-gradient);
    color: #fff;
    padding: 2px 6px;
    position: fixed;
    bottom: -50px;
    right: 10px;
    font-size: 1.5rem;
    border-radius: 7px;
    display: inline-block;
    cursor: pointer;
    transition: .5s;
}

.owl-nav{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 20px;
    top: -40px;
    right: 20px;
}

.fa-chevron-left, .fa-chevron-right{
    background-color: #ffffff;
    color: var(--blue);
    padding: 10px 12px;
    box-shadow: 0 0 7px #b5b5b5;
    border-radius: 7px;
}

.owl-carousel .owl-item{
    height: 60vh;
}