*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary: #1f3e72;
    --secondary: rgba(255, 255, 255, .78);
    --black: #131110;
    --blue-gradient: linear-gradient(97.05deg, #4066ff 3.76%, #2949c6 100%);
    --orange-gradient: linear-gradient(270deg, #ffb978 0%, #ff922d 100%);
    --blue: #4066ff;
    --lightBlue: #eeeeff;
    --shadow: 0px 23px 21px -8px rgba(136, 160, 255, .25);
    --secondary-text-color: #8c8b8b;
    --orange-color: orange;
}

html, body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    background-color: var(--black);
}

nav{
    padding: 16px 24px;
    width: 100%;
    z-index: 99;
    transition: .5s;
}

nav ul{
    list-style: none;
    gap: 50px;
}

nav img{
    width: 60%;
}

nav li:last-child{
    background-color: var(--blue);
    padding: 6px 1.2rem;
    border-radius: 3px;
    color: #fff;
}

nav a{
    color: var(--secondary);
    font-size: 15px;
}

main {
    padding: 2rem 6rem;
}

.main-text{
    position: relative;
    width: 44%;
}

main h1{
    color: var(--lightBlue);
    font-size: 58px;
    font-weight: 600;
    position: relative;
    z-index: 2;
}

.main-paragraph{
    color: var(--secondary-text-color);
    font-weight: 300;
    margin: 2.5rem 0;
}

.bluryWhite{
    position: absolute;
    padding: 7rem;
    background-color: #e4e4e4;
    top: 70px;
    left: 50px;
    border-radius: 10px;
    filter: blur(100px);
}

.orangeCirle{
    position: absolute;
    padding: 1.8rem;
    border-radius: 50px;
    background: var(--orange-gradient);
    z-index: 1;
    right: 70px;
}

.search-input{
    background-color: #fff;
    justify-content: flex-start !important;
    padding: 12px 1rem;
    gap: 10px;
    border-radius: 3px;
    border: 4px solid #dcdcdccf;
}

.search-input i{
    font-size: 20px;
    color: var(--blue);
}

.search-input input{
    all: unset;
    width: 90%;
    padding: 0px 10px;
    height: 40px;
    border: 1px solid #ededed;
}

.search-input button{
    all: unset;
    cursor: pointer;
    padding: 8px 16px;
    background: var(--blue-gradient);
    color: var(--lightBlue);
    border-radius: 4px;
}

.image-container{
    width: 30rem;
    height: 35rem;
    border: 8px solid rgba(255, 255, 255, .12);
    border-radius: 15rem 15rem 0 0;
    overflow: hidden;
    cursor: pointer;
}

.image-container img{
    transition: .5s;
}

.image-container img:hover{
    transform: scale(1.1);
    transition: .5s;
}

main img{
    width: 100%;
    height: 100%;
}

.numbers{
    margin-top: 3.5rem;
}

.numbers div p:nth-of-type(1){
    font-size: 30px;
}

.numbers div p:nth-of-type(1) span:nth-of-type(1){
    color: #fff;
}

.numbers div p:nth-of-type(2){
    color: var(--secondary);
}

.numbers div p:nth-of-type(1) span:nth-of-type(2){
    color: var(--orange-color);
}

.numbers div {
    text-align: center;
}

.numbers div p:last-child{
    color: var(--secondary-text-color);
}

.clientsArea{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    justify-items: center;
    margin: 2rem 0;
}

.clientsArea img{
    width: 50%;
    margin-bottom: 0 !important;
}

.clientsArea img:nth-child(2){
    width: 47%;
}

.clientsArea img:first-child{
    width: 40%;
}

#bestChoices{
    padding: 3rem;
}

#bestChoices .header{
    margin-bottom: 1.5rem;
}

#bestChoices .header h4{
    color: var(--orange-color);
    font-size: 25px;
    font-weight: 600;
}

#bestChoices h1, footer h1{
    color: var(--primary);
    font-size: 32px;
}

.residenceBox img{
    width: 90%;
}

.residenceBox h4{
    font-size: 18px;
    margin-top: 10px;
}

.residenceBox{
    padding: 1rem;
    cursor: pointer;
}

.residenceBox:hover{
    border-radius: 10px;
    transform: scale(1.05);
    transition: .5s;
    box-shadow: var(--shadow);
    background: linear-gradient(rgba(0, 217, 255, 0), #005eff18);
}

.residenceBoxes h4 span{
    color: var(--orange-color);
}

.residenceBoxes h4{
    color: var(--secondary-text-color);
}

.residenceBoxes h3{
    margin: 5px 0;
    color: var(--primary);
    font-size: 1.3rem;
}

.residenceBox p, footer p{
    color: var(--secondary-text-color);
    font-size: .8rem;
}

#values, #contact-section{
    /* background: linear-gradient(rgba(0, 217, 255, 0), #005eff51); */
    padding: 3rem;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

#values .image-container, #contact-section .image-container{
    border: 8px solid #dce9ff;
}

#values img{
    width: 110%;
}

.valueDetails{
    width: 50%;
}

.valueDetails .header h4, .contactDetails .header h4{
    color: var(--orange-color);
    font-size: 24px;
    font-weight: 600;
}

.valueDetails .header h1, .contactDetails .header h1{
    color: var(--primary);
    font-size: 34px;
    margin: 7px 0;
}

.valueDetails .header p, .contactDetails .header p{
    font-size: .9rem;
    color: var(--secondary-text-color);
    margin-bottom: 3px;
}

.faqs{
    margin-top: 3rem;
}

.faq{
    margin-bottom: 1.5rem;
    border: 1px solid #ededed;
    padding: 16px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* transition: height .5s; */
}

.faqHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    cursor: pointer;
    /* border: 1px solid #ededed; */
    /* margin-bottom: 10px; */
}

.faqHeader h4{
    color: var(--primary);
    font-size: 16px;
}

.faq p{
    font-size: .9rem;
    color: var(--secondary-text-color);
    display: none;
}

.faq.show p{
    display: block;
}

.faq.shadow{
    box-shadow: var(--shadow);
}

.faq i{
    font-size: 17px;
    color: var(--blue);
    padding: 8px 10px;
    border-radius: 5px;
    background-color: var(--lightBlue);
}

.contacts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 3rem;
}

.contactDetails{
    width: 45%;
}

.contact{
    border: 1px solid #ededed;
    padding: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    transition: all 0.3s ease-in 0s;
}

.contactHeader{
    display: flex;
    align-items: center;
    gap: 20px;
}

.contactHeader i{
    font-size: 22px;
    background-color: var(--lightBlue);
    color: var(--blue);
    padding: 8px 10px;
    border-radius: 5px;
}

.contact h4{
    color: var(--primary);
    font-size: 1.1rem;
}

.contact p{
    color: var(--secondary-text-color);
    font-size: 15px;
}

.contact button{
    all: unset;
    background-color: var(--lightBlue);
    text-align: center;
    margin-top: 1rem;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    color: var(--blue);
    transition: all 0.3s ease-in 0s;
}

.contact button:hover{
    background: var(--blue-gradient);
    color: #fff;
    cursor: pointer;
    transform: scale(0.8);
    transition: all 0.3s ease-in 0s;
}

.contact:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in 0s;
    box-shadow: var(--shadow);
}

#contact-section img{
    width: 100%;
    height: 100vh;
}

#getStarted{
    text-align: center;
    background-color: var(--blue);
    padding: 2rem 0;
    margin: 3rem;
    border-radius: 10px;
    border: 6px solid #5d77d6;
}

#getStarted h1{
    color: #fff;
    font-size: 32px;
    font-weight: 600;
}

#getStarted p{
    margin: 0;
    padding: 0;
}

#getStarted p{
    color: #fff;
}

#getStarted p:nth-of-type(1){
    margin: 30px 0 0;
}

#getStarted p:nth-of-type(2){
    margin: 0 0 30px;
}

#getStarted button{
    all: unset;
    background-color: #5a73d7;
    padding: .5rem 1rem;
    border: 2px solid #fff;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: all ease-in-out .5s;
}

#getStarted button:hover{
    transform: scale(1.1);
    transition: all ease-in-out .5s;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    background-color: #000;
    margin-top: 6rem;
}

.form {
    width: 25rem;
    display: flex;
}

.form input{
    all: unset;
    width: 100%;
    background-color: #fff;
    padding: 7px 12px;
    border-radius: 5px 0 0 5px;
    /* color: #970000; */
}

.form button{
    all: unset;
    padding: 0 10px;
    color: #fff;
    border-radius: 0 5px 5px 0;
    background: var(--blue-gradient);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 13px;
}

.form input::placeholder{
    font-size: 12px;
}

.waitlist p{
    font-size: 1rem;
    margin: 0 0 5px;
}

footer ul{
    list-style: none;
    gap: 20px;
}

footer .links{
    text-align: end;
}

footer ul li a{
    color: var(--secondary-text-color);
    font-size: 12px;
}

.backtotop{
    background: var(--blue-gradient);
    color: #fff;
    padding: 2px 6px;
    position: fixed;
    bottom: -50px;
    right: 10px;
    font-size: 1.5rem;
    border-radius: 7px;
    display: inline-block;
    cursor: pointer;
    transition: .5s;
}

.owl-nav{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 20px;
    top: -40px;
    right: 20px;
}

.fa-chevron-left, .fa-chevron-right{
    background-color: #ffffff;
    color: var(--blue);
    padding: 10px 12px;
    box-shadow: 0 0 7px #b5b5b5;
    border-radius: 7px;
}

.owl-carousel .owl-item{
    /* height: 60vh; */
}

.login-modal-bg, .register-modal-bg{
    background-color: #000000dc;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

form{
    width: 30%;
    background-color: #ffffff;
    padding: 2rem;
    position: relative;
    border-radius: 10px;
}

form div{
    width: 92%;
    margin: 2rem 0;
}

.register-modal-bg div{
    margin: 1rem 0;
}

form input{
    all: unset;
    width: 100%;
    background-color: #fff;
    border: 1px solid rgba(174, 174, 174, 0.368);
    padding: 7px 12px;
    border-radius: 5px;
    overflow: hidden;
}

form label{
    display: block;
    margin-bottom: 5px;
    color: var(--secondary-text-color);
}

.login-button{
    width: 82%;
    margin: 0;
}

.login-button span{
    color: var(--primary);
    cursor: pointer;
}

.login button{
    all: unset;
    padding: 7px 30px;
    color: #fff;
    border-radius: 5px;
    background: var(--blue-gradient);
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.userIcon{
    text-align: center;
    margin: 0;
    width: 100%;
}

.ri-user-3-line, .ri-user-add-line{
    color: var(--primary);
    font-size: 32px;
}

#closeLoginForm, #closeRegForm{
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 24px;
    color: var(--primary);
    cursor: pointer;
}

.login div input::placeholder{
    font-size: 12px;
}

small{
    display: none;
}

.error::-webkit-input-placeholder, small {
    color: #970000;
    /* color: #01ffa2; */
 }

 .menu-icon{
    display: none;
 }

 @media screen and (max-width:1200px) {
    main{
        padding: 2rem 3rem;
    }
 }

 @media screen and (max-width:992px) {

    nav ul{
        gap: 30px;
    }

    main h1{
        font-size: 40px;
    }

    main{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 60px;
    }

    .numbers div p:nth-of-type(1){
        font-size: 20px;
    }

    .numbers div p:last-child{
        font-size: 15px;
    }

    .image-container{
        width: 20rem;
        height: 35rem;
    }

    #values, #contact-section{
        padding: 1.5rem;
    }

    #values img{
        height: 100vh;
    }

    .form{
        width: 18rem;
    }

    footer{
        padding: 2rem;
    }

    .contacts{
        gap: 10px;
    }
 }

 @media screen and (max-width:768px) {
    nav ul{
        flex-direction: column;
        position: fixed;
        background-color: #fff;
        top: 70px;
        z-index: 999;
        padding: 2rem 2.5rem;
        right: -200px;
        border-radius: 10px;
        transition: .5s;
        box-shadow: var(--shadow);
    }

    nav li:last-child a{
        color: #fff;
    }

    nav ul.shownav{
        right: 15px;
    }

    nav ul a{
        color: #000;
        font-weight: 500;
    }

    .menu-icon{
        display: block;
    }

    main, #values, #contact-section, footer{
        flex-direction: column;
    }

    .main-text{
        width: 80%;
    }

    .image-container{
        width: 30rem;
        margin: auto;
    }

    .clientsArea{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .valueDetails .header, .contactDetails .header{
        text-align: center;
    }

    .valueDetails, .contactDetails{
        margin: 3rem auto 0;
        width: 80%;
    }
    
    .contacts{
        margin-bottom: 2rem;
    }

    .contact{
        width: 100%;
    }

    footer, footer .links{
        text-align: center;
        gap: 3rem;
    }

    .form input{
        text-align: start;
    }
 }

 @media screen and (max-width:576px) {
    .image-container{
        width: 100%;
    }

    main, #bestChoices{
        padding: 2rem 1.5rem;
    }

    .main-text, .valueDetails, .contactDetails{
        width: 100%;
    }

    #bestChoices .header h4{
        font-size: 18px;
    }

    #bestChoices h1, footer h1, .valueDetails .header h1, .contactDetails .header h1{
        font-size: 22px;
    }

    .faqHeader h4{
        font-size: 14px;
    }

    .contacts{
        grid-template-columns: 1fr;
    }

    #getStarted{
        width: 90%;
        margin: auto;
    }

    @media screen and (max-width:375px) {
        #getStarted h1{
            font-size: 22px;
        }

        #getStarted p{
            font-size: 15px;
        }
    }

    #values{
        margin-top: 4rem;
    }

    .owl-nav{
        bottom: -480px;
        left: 35%;
        /* right: 50%; */
    }
 }